<p>
  <b>Token:</b>
  <%= @jam.token %>
</p>
 
<p>
  <b>Photo.Orig:</b>
  <%= image_tag(@jam.photo.url, :alt => "") %>
</p>
	
<p>
  <b>Photo.Jam:</b>
  <%= image_tag(@jam.photo.instajam.url, :alt => "") %>
</p>
